Package: com.laughingquoll.siliqua
Name: Siliqua
Version: 1.0-2
Description: AirPods Gestures and New Features
Section: Tweaks
Depends: firmware (>= 9.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: LaughingQuoll
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

