Package: com.laughingquoll.Siliqua
Name: Siliqua
Version: 1.0-2
Description: 
Section: Tweaks
Depends: firmware (>= 9.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: laughingquoll
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

